<%- layout('./layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">

    </style>
    <div class="row">
        <div class="col-6 my-2">
            <div id="campgroundCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <% camp.images.forEach((image,index)=> { %>
                        <div class="carousel-item <%= index === 0 ? " active" : '' %>">
                            <img class="d-block w-100" src="<%=image.url%>" alt="">
                        </div>
                        <% }) %>
                            <% if (camp.images.length> 1) { %>
                                <a class=" carousel-control-prev" href="#campgroundCarousel" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only"></span>
                                </a>
                                <a class="carousel-control-next" href="#campgroundCarousel" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only"></span>
                                </a>
                                <% } %>
                </div>           
            <div class="card my-2">

                <div class="card-body">
                    <h5 class="card-title">
                        <%=camp.title%>
                    </h5>
                    <p class="card-text">
                        <%=camp.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Location</h5>
                        <p>
                            <%=camp.location%>
                        </p>
                        <p class="list-group list-item-muted">Listed by:
                            <%=camp.author[0].username%>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h5>Price</h5>
                        <div class="card-text">
                            <p>
                                $<%=camp.price%>/Night
                            </p>
                        </div>
                    </li>
                </ul>
                <% if(loggedInUser && camp.author[0].equals(loggedInUser._id)) {%>
                    <div class="card-body">
                        <a href="/campgrounds/<%=camp._id%>/edit" class="card-link btn btn-primary">Edit
                            Campground</a>
                        <form class="d-inline" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete Campground</button>
                        </form>
                    </div>
                    <% } %>
            </div>

        </div>
        

        </div>
        <div class="col-6">
            <div class="my-2">
                <div id='detailsMap'></div>
        
                <H2>Reviews</H2>
                <% for(let review of camp.reviews) { %>
                    <div class="card">
                        <div class=>
                            <div class=" card-body">
                                <h5 class="card-title">
                                    <h5 class="card-title">
                                        <%= review.author.username%>
                                    </h5>
        
                                    <p class="starability-result" data-rating="<%=review.rating%>">
                                        Rated: <%= review.rating %>
                                    </p>
                                </h5>
                                <p class="card-text">
                                    <%=review.body%>
                                </p>
        
                                <% if(loggedInUser && review.author.equals(loggedInUser._id)) { %>
                                    <form action="/campgrounds/<%=camp._id%>/reviews/<%=review._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                    </div>
        
                    <%}%>
            </div>
            <div>
                <% if(camp.reviews.length===0){ %>
                    <% if(!loggedInUser) { %>
                        <a href="/login">
                            <h6>No reviews yet, want to be the first?</h6>
                        </a>
                        <% } %>
                            <% } else { %>
                                <h3 class="mb-3">Want to leave a review?</h3>
                                <% } %>
            </div>
        
        
            <% if(loggedInUser) { %>
                <% if(camp.reviews.length===0) {%>
                    <h6 class="mb-3">No reviews yet, be the first!</h6>
                    <% } %>
                        <div class="card">
                            <div class="card-body pt-0"></div>
                            <form action=" /campgrounds/<%=camp._id%>/reviews" method="POST" novalidate class="validated-form">
                                <div>
                                    <div class="mx-3">
                                        <fieldset class="starability-basic">
                                            <legend>Rating:</legend>
                                            <input type="radio" id="first-rate1" name="review[rating]" value="1" checked />
                                            <label for="first-rate1" title="Terrible">1 star</label>
                                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                            <label for="first-rate2" title="Not good">2 stars</label>
                                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                            <label for="first-rate3" title="Average">3 stars</label>
                                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                            <label for="first-rate4" title="Very good">4 stars</label>
                                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                            <label for="first-rate5" title="Amazing">5 stars</label>
                                        </fieldset>
                                    </div>
                                    <div class="my-2 mx-3">
                                        <label class='form-label' for="body">
                                            <h4>Review</h4>
                                        </label>
                                        <textarea class='form-control' name="review[body]" id="body" cols="30" rows="3"
                                            required></textarea>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <button class="btn btn-success my-3 mx-3">Submit</button>
                            </form>
                            <!-- <label class='form-label' for="rating">Rating</label>
                                            <input class='form-range' type="range" name="review[rating]" id="rating" min="1" max="5"
                                                required> -->
                        </div>
        </div>
     
        

        <% }%>
    </div>
    </div>
    

   

   
    
    

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        const camp = <%- JSON.stringify(camp) %> 
    </script>

    <script src="/js/detailsMap.js"></script>
