<%- layout('./layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3 mt-2">
            <div class="card mb-2">
                <img src=<%=camp.image%> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=camp.title%>
                    </h5>
                    <p class="card-text">
                        <%=camp.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Location</h5>
                        <div>
                            <p>
                                <%=camp.location%>
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h5>Price</h5>
                        <div class="card-text">
                            <p>
                                $<%=camp.price%>/Night
                            </p>
                        </div>
                    </li>
                </ul>

                <div class="card-body">
                    <a href="/campgrounds/<%=camp._id%>/edit" class="card-link btn btn-primary">Edit Campground</a>
                    <form class="d-inline" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete Campground</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
